<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

<%= yield %>

<% if current_user %>
 <li><%= link_to current_user.email, "/users/edit" %></li>
 <li><%= link_to "Sign out", "/users/sign_out", :method => "DELETE"  %></li>
<% end %>

</body>
</html>
